REACT_APP_API_URL=http://localhost:3001
REACT_APP_API_ENDPOINTS='{}'
VITE_API_URL=http://localhost:3001
VITE_API_ENDPOINTS='{}'
VITE_BOOTSTRAP_EMAIL=admin@acme.local
VITE_BOOTSTRAP_PASSWORD=Admin123!
